node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcuserdata

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties

# macOS
.DS_Store

# Environment
.env
.env.local
